<!DOCTYPE html>
<html>
  <head>
    <title>商家平台 - 浮冬商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'seller', media: 'all' %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'seller/layouts/menu' %>
    <div class="container">
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end -%>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'seller' %>
    <%= yield :javascripts %>
  </body>
</html>
